<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wmhwiki.hpanbackend.mapper.TypeMapper">

    <resultMap id="BaseResultMap" type="cn.wmhwiki.hpanbackend.domain.Type">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="createdtime" column="createdtime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type_name,createdtime,
        is_deleted
    </sql>
</mapper>
